In [10]:
# Importando bibliotecas usuais
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# importando bibliotecas para treino do modelo
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
##from imblearn.pipeline import Pipeline as ImbPipeline
#Lendo novo Dataset
new_df = pd.read_csv('dataset_delegacias')

In [11]:
#verificando os tipos de dados
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   orgao_responsavel  5000 non-null   object
 1   ano                5000 non-null   int64
 2   mes                5000 non-null   int64
 3   dia                5000 non-null   int64
 4   dia_semana         5000 non-null   int64
 5   dia_semana_name    5000 non-null   object
dtypes: int64(4), object(2)
memory usage: 234.5+ KB
None

In [26]:
# Transformando colunas categóricas em numéricas
colunas_categoricas = ['orgao_responsavel', 'dia_semana_name']
colunas_pre_encoded = OneHotEncoder(drop='first', sparse_output=False)
colunas_encoded = colunas_pre_encoded.fit_transform(new_df[['orgao_responsavel', 'dia_semana_name']])
#Resgatando nomes das colunas que vão passar por hot encoding
feature_names = colunas_pre_encoded.get_feature_names_out(colunas_categoricas)
#Criando DataFrame com as colunas transformadas
df_encoded = pd.DataFrame(colunas_encoded, columns=feature_names)
df_encoded['ano'] = new_df['ano']
df_encoded['mes'] = new_df['mes']
df_encoded['dia'] = new_df['dia']
df_encoded.head()

,orgao_responsavel_Delegacia Boa Viagem,orgao_responsavel_Delegacia Casa Forte,orgao_responsavel_Delegacia Pina,orgao_responsavel_Delegacia Santo Amaro,orgao_responsavel_Delegacia Torre,dia_semana_name_Monday,dia_semana_name_Saturday,dia_semana_name_Sunday,dia_semana_name_Thursday,dia_semana_name_Tuesday,dia_semana_name_Wednesday,ano,mes,dia
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024,8,2
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2022,10,29
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2023,3,12
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2025,4,18
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2025,6,30